<!DOCTYPE html>
<html lang="ca">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajuda - Context físic</title>
    <!-- Google Fonts 'Roboto' -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="../sccs/style.css">
</head>

<body>
    <div class="help">
        <p><strong>Nivells de NO2</strong><br>
            Definició: Mitjana anual de diòxid de nitrogen (NO 2 ) mesurat en µg/m 3 .<br>
            Font d’informació: Mapa del model d’immissions de NO 2 i PM 10 , Ajuntament de Barcelona.</p>
    </div>
</body>

</html>