<!-- Header -->
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid-aspb">
        <a class="navbar-brand" href="#">
            <img class="d-none d-lg-block d-xl-block d-xxl-block" src="../img/ASPBlogo_color.svg"
                alt="Agència de Salut Pública de Barcelona" width="auto" height="51">
            <img class="d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none" src="../img/ASPBimago_color.svg"
                alt="Agència de Salut Pública de Barcelona" width="auto" height="28">
        </a>
        <ul class="nav justify-content-end list-unstyled d-flex">


            <li class="ms-3 burger-menu">
                <button type="button" class="navbar-toggler" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg width="91" height="19" viewBox="0 0 91 19">
                        <line stroke-width="1" stroke="#282828" class="" x1="0" y1="0.5" x2="91" y2="0.5" />
                        <line stroke-width="1" stroke="#282828" class="" x1="0" y1="18.5" x2="91" y2="18.5" />
                        <line stroke-width="1" stroke="#282828" class="" x1="0" y1="9.5" x2="91" y2="9.5" />
                    </svg>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li class="li-item"><a class="dropdown-item" href="https://www.aspb.cat/l-agencia/qui-som/"
                            target="_blank">Qui som</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="li-item"><a class="dropdown-item" href="https://www.aspb.cat/noticies/"
                            target="_blank">Novetats</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="li-item"><a class="dropdown-item"
                            href="https://www.aspb.cat/activitats-agencia-salut-publica" target="_blank">Activitats</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="li-item"><a class="dropdown-item" href="https://www.aspb.cat/contacte/"
                            target="_blank">Contacte</a></li>
                    <li class="li-item icons">
                        <ul class="nav list-unstyled d-flex">
                            <li class="ms-3 icon d-none d-lg-block d-xl-block d-xxl-block">
                                <a class="text-body-secondary"
                                    href="https://www.youtube.com/channel/UC1qJ5wfnP7fcT9pXkoe9opA" target="_blank">
                                    <img src="../img/icon-YouTube.svg" width="auto" height="24">
                                </a>
                            </li>
                            <li class="ms-3 icon d-none d-lg-block d-xl-block d-xxl-block">
                                <a class="text-body-secondary" href="https://www.facebook.com/salutpublicabcn"
                                    target="_blank">
                                    <img src="../img/icon-Facebook.svg" width="auto" height="24">
                                </a>
                            </li>
                            <li class="ms-3 icon d-none d-lg-block d-xl-block d-xxl-block">
                                <a class="text-body-secondary"
                                    href="https://www.linkedin.com/company/ag%C3%A8ncia-de-salut-p%C3%BAblica-de-barcelona---aspb/"
                                    target="_blank">
                                    <img src="../img/icon-LinkedIn.svg" width="auto" height="24">
                                </a>
                            </li>
                            <li class="ms-3 icon d-none d-lg-block d-xl-block d-xxl-block">
                                <a class="text-body-secondary" href="https://twitter.com/salutpublicabcn"
                                    target="_blank">
                                    <img src="../img/icon-Twitter.svg" width="auto" height="24">
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>