<!DOCTYPE html>
<html lang="ca">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajuda - Població</title>
    <!-- Google Fonts 'Roboto' -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="../sccs/style.css">
</head>

<body>
    <div class="help">
        <p><strong>Piràmide de població</strong><br>
            Definició: Nombre de població segons grups d'edat, sexe i lloc de naixement.<br>
            Font d’informació: Padró Municipal d’Habitants de Barcelona. Ajuntament de Barcelona.</p>

        <p><strong>Població segons lloc de naixement</strong><br>
            Definició: Percentatge de població segons el lloc de naixement i sexe.<br>
            Font d’informació: Padró Municipal d’Habitants de Barcelona. Ajuntament de Barcelona.</p>

        <p><strong>Població de 75 anys i més que viuen soles</strong><br>
            Definició: Percentatge de població de 75 anys i més que viuen soles del total de població de de 75
            segons sexe.<br>
            Font d’informació: Padró Municipal d’Habitants de Barcelona. Ajuntament de Barcelona.</p>
    </div>
</body>

</html>