<!DOCTYPE html>
<html lang="ca">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajuda - Urban Heart</title>
    <!-- Google Fonts 'Roboto' -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="../sccs/style.css">
</head>

<body>
    <div class="help">
        <p>L’Urban HEART és una eina desenvolupada per l’OMS que té per objectiu evidenciar les desigualtats a
            nivell urbà per tal d’ajudar a prendre decisions sobre quines són les millors intervencions per
            promoure l’equitat en salut. La matriu d’indicadors mostra els resultats en color verd, groc o
            vermell per tal d'identificar, per a cada indicador, els barris amb resultats més favorables (verd),
            menys favorables (vermell) o amb una posició intermèdia (groc), considerant com a punts de tall els
            percentils 25 i 75. L’any 2016 es va fer servir aquesta eina per prioritzar 18 barris de la ciutat
            de Barcelona per implementar intervencions amb l’objectiu de reduir les desigualtats en salut a la
            ciutat. L’any 2021 s’han actualitzat els indicadors per revisar quins barris prioritzar per
            implementar noves polítiques de reducció de les desigualtats en salut. Es publica una nova versió,
            doncs en dos dels indicadors s’ha canviat la definició i font d’informació per tal de millorar-los i
            un indicador s’ha hagut d’eliminar.</p>

        <p><strong>Taxa mortalitat prematura</strong><br>
            Definició: Nombre d’anys potencials de vida perduts entre 1 i 70 anys per 100.000 habitants.<br>
            Font d’informació: Registre de Mortalitat de Barcelona, Agència de Salut Pública de Barcelona i
            Padró Municipal d’Habitants, Ajuntament de Barcelona.</p>

        <p><strong>Taxa de tuberculosis</strong><br>
            Definició: Nombre de nous casos de tuberculosi diagnosticats per 100.000 habitants.<br>
            Font d’informació: Registre de Malalties de Declaració Obligatòria de Barcelona, Agència de Salut
            Pública de Barcelona i Padró Municipal d’Habitants, Ajuntament de Barcelona.</p>

        <p><strong>Taxa de gonocòccia</strong><br>
            <i>Indicador no disponible a la versió 2021.</i>
        </p>
        <p>Definició: Nombre de nous casos diagnosticats de gonocòccia per 100.000 habitants.<br>
            Font d’informació: Registre de Malalties de Declaració Obligatòria de Barcelona, Agència de Salut
            Pública de Barcelona i Padró Municipal d’Habitants, Ajuntament de Barcelona.</p>

        <p><strong>Taxa de fecunditat adolescent</strong><br>
            Definició: nombre de naixements vius de dones de 15 a 19 anys per cada 1.000 dones de 15 a 19
            anys.<br>
            Font d’informació: Registre de naixements, Institut d’Estadística de Catalunya i Padró Municipal
            d’Habitants, Ajuntament de Barcelona.</p>

        <p><strong>Índex de Consum Problemàtic de Drogues</strong><br>
            Definició: Es calcula segons la suma de la puntuació jeràrquica dels 73 barris (o 10 districtes) per
            4 indicadors: la taxa d’inicis de tractament per alcohol i altres drogues, la taxa de mortalitat per
            sobredosi, la taxa d’urgències en consumidors d’alcohol i altres drogues i el nombre de xeringues
            trobades a la via pública. Inicis de tractament per alcohol i altres drogues: nombre i taxa per mil
            dels inicis o reinicis de tractament per qualsevol substància psicoactiva (alcohol, cànnabis,
            cocaïna, heroïna, etcètera), als centres públics de la ciutat de Barcelona. Urgències hospitalàries
            de consumidors d’alcohol i altres drogues: nombre i taxa per mil de les urgències en persones
            consumidores de substàncies psicoactives en els quatre hospitals universitaris de la ciutat.
            Mortalitat per reacció adversa al consum de drogues: nombre i taxa de defuncions no naturals en les
            què el metge forense dictamina que han estat degudes a una sobredosi de substàncies psicoactives.
            Xeringues recollides al carrer: nombre de xeringues recollides a l’espai públic pels serveis de
            neteja, parcs i jardins i educadors de salut.<br>
            Font d’informació: Sistema d’informació de drogues de Barcelona.</p>

        <p><strong>Espais verds urbans</strong><br>
            <i>Indicador utilitzat a la versió 2021: Superfície verda per habitant.</i>
        </p>
        <p>Definició: Superfície en m<sup>2</sup> d’espais verds públics mantinguts per Parcs i Jardins per
            habitant (exclou Collserola). S’inclou tot el conjunt de l'espai verd, integrant tant els parterres
            de verd (gespa, arbust, grup de flor, ...), com les làmines d'aigua, la superfície transitable
            (camins de sorra, llosa, rajola, formigó, ...) que hi ha al propi espai.<br>
            Font d’informació: Inventari d’espais verds mantinguts per Parcs i Jardins. Departament d’Avaluació
            d’Espais Verds i Biodiversitat. Medi Ambient i Serveis Urbans. Ajuntament de Barcelona.</p>
        <p><i>Indicador utilitzat a la versió 2016: Àrea del barri destinada a espais d'estada verds urbans.</i>
        </p>
        <p>Definició: Superfície en m<sup>2</sup> destinada a espais verds urbans públics d'estada del total de
            superfície del barri. Espais verds Inclou: Parcs històrics, parcs, interiors d'illa de titularitat
            pública i d'accés públic i places verdes.<br>
            Font d’informació: Informació de base i cartografia. Intitut Municipal d’Informàtica- Habitat Urbà.
            Ajuntament de Barcelona.</p>

        <p><strong>Índex de vegetació (NVDI)</strong><br>
            Definició: Quantitat de verd que s’observa des del cel (imatge satèl·lit).<br>
            Font d’informació: Fotografia d’un dia provinent del satèl·lit Sentinel (resolució de 15m x 15m).
        </p>

        <p><strong>Mobilitat de vehicles motoritzats</strong><br>
            Definició: Nombre de vehicles motoritzats que circulen per la ciutat en dies laborables per km de
            via.<br>
            Font d’informació: Intensitat Mitjana Diària de Trànsit, Àrea d’Ecologia, Urbanisme i Mobilitat,
            Ajuntament de Barcelona.</p>

        <p><strong>Espai a l'habitatge per persona</strong><br>
            <i>Indicador utilitzat a la versió 2021: Espai a l’habitatge per persona.</i>
        </p>
        <p>Definició: Mitjana de l’espai disponible als habitatges (en m2) per persona.<br>
            Font d’informació: Padró Municipal d’Habitants de Barcelona i Cadastre. Ajuntament de Barcelona.</p>

        <p><strong>Indicador utilitzat a la versió 2016: raó de llars de més de 4 persones i la superfície dels
                habitatges</strong><br>
            Definició: raó entre el percentatge de llars de més de quatre persones i la superfície mitjana en m2
            dels habitatges.<br>
            Font d’informació: Padró Municipal d’Habitants de Barcelona i Cadastre. Ajuntament de Barcelona.</p>

        <p><strong>Taxa de persones ateses per Serveis Socials excloent aquelles relatives a la Llei de la
                Dependència</strong><br>
            Definició: Nombre de persones que resideixen en el territori que han estat ateses en algun centre de
            serveis socials de la ciutat – excloses aquelles relatives a la Llei de la Dependència - per cada
            1.000 habitants.<br>
            Font d’informació: Departament de Gestió de Sistemes, Departament de Recerca i Coneixement, Àrea de
            Drets Socials, Ajuntament de Barcelona.</p>

        <p><strong>Taxa de persones menors de 18 anys ateses pels Equips d'Atenció a la Infància i
                Adolescència</strong><br>
            Definició: Nombre de menors de 18 anys que resideixen en el territori i que han estat atesos en
            algun Equip d’Atenció a la Infància i Adolescència de la ciutat per cada 1.000 habitants menors de
            18 anys.<br>
            Font d’informació: Departament de Gestió de Sistemes, Departament de Recerca i Coneixement, Àrea de
            Drets Socials, Ajuntament de Barcelona.</p>

        <p><strong>Persones de 16 a 29 anys amb estudis primaris o menys</strong><br>
            Definició: Percentatge de persones de 16 a 29 anys amb estudis primaris o menys.<br>
            Font d’informació: Padró Municipal d’Habitants de Barcelona. Ajuntament de Barcelona</p>

        <p><strong>Renda Familiar Disponible</strong><br>
            Definició: Índex sintètic resultant de la combinació de diferents variables. És una estimació de la
            renda disponible que es presenta en format de raó entre la renda del barri i la mitjana per al
            conjunt de Barcelona que es de 100. A major valor d’RFD, major capacitat econòmica del barri, i a
            menor valor d’RFD menor capacitat econòmica del Barri.<br>
            Font d’informació: Barcelona Economia, Gabinet Tècnic de Programació, Ajuntament de Barcelona.</p>

        <p><strong>Atur registrat entre persones de 16 a 64 anys</strong><br>
            Definició: Percentatge de persones entre 16 i 64 anys que busquen ocupació, hagin treballat amb
            anterioritat o no, registrades a les Oficines de Treball de la Generalitat o del Servei Públic
            d'Ocupació Estatal respecta lla població de 16 a 64 anys i per sexe. Estimació per barris a partir
            de dades facilitades per codis postals.<br>
            Font d’informació: Departament d’Empresa i Ocupació, Generalitat de Catalunya.</p>

        <p><strong>Abstenció a les darreres eleccions municipals</strong><br>
            Definició: Percentatge de persones que no han anat a votar sobre el nombre de persones convocades a
            les darreres eleccions.<br>
            Font d’informació: Ministerio del Interior.</p>
    </div>
</body>

</html>